
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

input[type="text"] {
  width: 96%;
  padding: 5px;
  font-size: 16px;
  
}

input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #075cb8;
  color: #b11212;
  border: none;
  cursor: pointer;
}

section {
  max-width: 300px;
  margin: 20px auto;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

li {
  margin-bottom: 20px;
}
  #even li {
    color: rgb(11, 12, 12);
  }

  #odd li {
    color: rgb(0, 0, 0);
  }
  body {
    background-image: url('pic2.jpg'); 
    background-size: cover;
    background-position: center;
  }
  body {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 100px; 
    /* border: 2px solid #000;  */
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px;
      background-image: url('pic3.jpg'); 
    }
  }
  
  
  @media screen and (min-width: 992px) {
    body {
      font-size: 20px;
      background-image: url('pic5.jpg'); 
    }
  
}